<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://10.185.3.239/schema/context/spring-beans-2.0.xsd">
	
	
<!-- 	<bean id="dataSourceDBCP" class="org.apache.commons.dbcp.BasicDataSource">
    </bean> -->
          
    <bean id="dataSourceDBCP"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://mysqlserver:3307/exam?characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="initialSize" value="2"/>
        <property name="maxIdle" value="2"/>
        <property name="maxActive" value="12"/>
        <property name="minIdle" value="2"/>
        <property name="logAbandoned" value="true"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="180"/>
        <property name="maxWait" value="1000"/>
    </bean>
    
</beans>