<?xml version='1.0' encoding='utf-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
        "http://10.185.3.239/schema/hibernate-configuration-3.0.dtd">  
<hibernate-configuration>  
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="connection.url">jdbc:mysql://mysqlserver:3307/exam?characterEncoding=utf-8</property>  
        <property name="connection.username">root</property>  
        <property name="connection.password">root</property>
        
        <property name= "c3p0.min_size">5</property>
        <property name= "c3p0.max_size">20</property>
        <property name= "c3p0.timeout">180</property>
        <property name= "c3p0.max_statements">50</property>
        
  
        <!-- <property name="connection.pool_size">4</property>  -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="show_sql">true</property>  
  
        <mapping resource="com/jason/dto/config/User.hbm.xml"/>  
    </session-factory>  
</hibernate-configuration>